---
import StandardLayout from "../layouts/StandardLayout.astro";
import Welcome from "../components/Welcome.astro";
import VideoSlider from "../components/VideoSlider.astro";
import MonicamariagePart1 from "../components/MonicamariagePart1.astro";
import MonicamariagePart2 from "../components/MonicamariagePart2.astro";
import GoogleReviews from "../components/GoogleReviews.astro";
import MonicaMariageBlocDestockage from "../components/MonicaMariageBlocDestockage.astro";
import FAQAccordionHome from "../components/FaqAccordionHome.astro";
import HeaderMain from "../components/HeaderMain.astro";

// Image principale pour préchargement
const heroImageUrl =
  "https://res.cloudinary.com/dkbsvrpdc/image/upload/f_auto,q_auto:good,w_400/v1745254754/ylrvmsmxewylhvf6xywi.webp";

// Les données de schema ne sont plus utilisées, mais gardées pour compatibilité
const homeSchemaData = {};
---

<StandardLayout
  title="Monica Mariage - Boutique de Robes de Mariée"
  description="Monica Mariage : boutique de robes de mariée sur-mesure à Toulouse. Découvrez nos modèles princesse, évasée, bohème-chic, fourreau et sirène à prix abordables. Showroom à 15 min de Toulouse."
  mainImageUrl={heroImageUrl}
>
  <div class="hidden md:block">
    <VideoSlider />
  </div>
  <div class="block md:hidden">
    <HeaderMain />
  </div>
  <MonicamariagePart1 />
  <MonicamariagePart2 />
  <GoogleReviews />
  <MonicaMariageBlocDestockage />
  <FAQAccordionHome />
</StandardLayout>
