---
import robes from "../data/robes";
---

<div id="my-keen-slider" class="keen-slider overflow-hidden relative">
  {
    robes.map((robe, index) => (
      <div class="keen-slider__slide relative overflow-hidden" key={index}>
        <div class="relative w-full h-[300px] md:h-[800px] overflow-hidden">
          <img
            class="absolute inset-0 w-full h-full object-cover"
            src={
              robe.images && robe.images[0]
                ? robe.images[0].optimizedImages.gallery.desktop
                : ""
            }
            alt={robe.dressName}
          />
        </div>
        <p class="text-center p-2 m-0 relative z-10">{robe.dressName}</p>
      </div>
    ))
  }
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.css"
/>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    const script = document.createElement("script");
    script.src =
      "https://cdn.jsdelivr.net/npm/keen-slider@6.8.5/keen-slider.min.js";
    script.onload = function () {
      new KeenSlider("#my-keen-slider", {
        loop: true,
        mode: "free",
        slides: { perView: 4, spacing: 1 },
      });
    };
    document.body.appendChild(script);
  });
</script>
